<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lessons</title>
  <!-- <link rel="stylesheet" href="/css/event.css"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
  <link rel="stylesheet" href="/css/getMoreAddContent.css">

  <%- include("./partials/header.ejs")%>
  <style>
    .descp {
      text-indent: 2em;
      margin: 0 2em;
    }

    .rectangle-141 {
      background-color: white;
      border-radius: 0.75em;
      box-shadow: 0em 0.75em 1.5em -0.25em #919eab1f, 0em 0em 0.125em #919eab33;
      height: 14.6875em;
      left: 4.6875em;
      top: 37.3125em;
      width: 39.125em;
      width: 75%;
      margin: 2em 2em;
    }

    .home-div,
    .a-home {
      color: #999999 !important;
    }

    .above-nav {
      background-color: #dde6ed33;
    }

    .status-a {
      color: #404258 !important;
    }

    .list-lesson-p {
      color: #8A2BE2;

    }

    .list-lesson-p-span {
      color: #4B0082;
    }

    .each-lesson {
      border-top: 0.1em solid #8A2BE2;

    }

    .aside-right {
      background-color: #dde6ed1a;
      height: 100%;
    }

    .manange-bar {
      border-radius: 1em;
      /* grid-template-columns: 1fr 1fr; */
      /* justify-content: space-between !important; */

    }

    .add-button {
      border-radius: 0.5em !important;
      width: 20%;

    }

    .main-content {
      height: 100%;
    }

    .lesson-content {
      height: 100%;
      border-radius: 1em !important;

      justify-content: center !important;
      border-top: 0.5em solid #8A2BE2;
    }

    .lesson-nothing {
      /* margin: 25% 0 !important; */
      padding: 0 !important;
    }

    .add-lesson-btn {
      float: right;
      width: auto;
    }


    .show-layout-2 {
      display: block;
      opacity: 1;
      /* สิ้นสุดที่ความทึบ 1 */
      transition: opacity 0.5s ease;
      /* กำหนดการเปลี่ยนแปลงที่ต้องการ */
    }

    .layout01-mainDes {

      font-size: xx-large !important;
      font-weight: bolder !important;

    }

    /* .input-mainSubDes,
    .input-mainDes,
    .input-mainSubDes2 {
      white-space: pre-wrap !important;
      overflow: auto !important;
    } */

    .subDes,
    .subDesNumber2 {
      border: none !important;
    }

    .layout1-contents {
      background-color: #dde6ed1a;
      width: 85%;

    }

    .layout01_gird {
      display: grid;
      grid-template-columns: 0.75fr 1.25fr;
    }


    .Topic1 {
      background-color: #8A2BE2 !important;
      color: white !important;
      border-radius: 1em !important;
      width: 70% !important;
    }

    .Topic1::placeholder {
      color: white !important;
      font-size: xx-large;
      font-weight: bolder;
      text-align: center !important;
    }

    #file-input {
      display: none !important;
    }

    #cancelQuestionLink,
    #cancelEditQuestionLink,
    #sendQuestionLink,
    .studentAnswer,
    .editAnswer,
    #sendEditQuestionLink {
      display: none;
    }

    /* .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: ;
    } */

    video {
      border-radius: 0.5em;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    }

    .file-icon {
      font-size: 7em;
    }

    .content-2 {
      border-top: 0.5em solid #8A2BE2;
      border-radius: 1em !important;
      height: 100% !important;
      background-color: #dde6ed1a !important;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    }

    .main-content-long-text {
      color: #8A2BE2 !important;
      border: none !important;

    }

    .text-areas-indent {
      text-indent: 2em;
    }

    .main-content-long-text::placeholder {
      color: #8A2BE2 !important;
      /* text-indent: 2em !important; */
    }

    .setEdge1,
    .setEdge2 {
      border-right: 1px solid #8A2BE2 !important;
      border-bottom-width: 50% !important;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
    }

    .add-button-2 {
      float: right;

    }

    .layout01_gird {
      display: grid;
      grid-template-columns: 0.75fr 1.25fr;
    }

    .allCOntent {
      height: fit-content;
    }

    .subLayout2Contents2 div {
      height: fit-content !important;
    }

    .setborder {
      border-radius: 0.5em !important;
    }

    .addContent-a {
      text-decoration: none !important;
      transition-duration: 0.3s;
    }

    .addContent-a:hover {
      color: #0d57d6 !important;
      transition: 0.3s;
    }

    .lesson-bar {
      border-left: 0.25em solid #387bef !important;
      padding-left: 0.5em !important;
    }

    .comment-table tr th {
      padding-top: 1em !important;
      padding-bottom: 1em !important;
      border-bottom: 1px solid #ced4daa0;
      color: #5a6a85 !important;

    }

    .comment-table tr td {
      padding-top: 1em !important;
      /* padding-bottom: 1em !important; */
      /* border-bottom: 1px solid #ced4daa0; */

    }

    .comment {
      display: flex;
      align-items: center;
      padding: 15px;
      max-height: 104px;
    }

    .comment img {
      width: 50px;
      height: 50px;
      border-radius: 25%;
      margin-right: 1em !important;
      object-fit: cover;

    }

    /* .comment .content {
      flex-grow: 1;
    } */

    .comment-color {
      color: #7C8FAC !important;
    }

    .fancyBox {
      width: 10%;
      height: auto;
    }

    .comment-files {
      width: 125px;
      height: 125px;
      margin-right: 1em !important;
      border-radius: 10%;
    }

    .commentOption {
      position: absolute;

    }

    .optionComment:hover {
      color: #003ba1 !important;
      transition: 0.3s;
    }

    /* .reply-comment {
      display: none;
    } */

    .pdf-iframe {
      width: 100%;
      height: calc(100vh - 50px);
      /* Adjust height based on toolbar */
      border: none;
    }

    @keyframes fadeInScale {

      /* กำหนด animation ใหม่ */
      0% {
        opacity: 0;
        transform: translate(-50%, -40%) scale(0.7);
        /* เริ่มด้วยขนาดเล็กและต่ำกว่ากึ่งกลาง */
      }

      100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        /* ขยายเต็มขนาดและอยู่กึ่งกลาง */
      }
    }

    .editCommentForm {
      position: fixed;
      /* แก้ไขจาก absolute เป็น fixed */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      /* z-index สูงเพื่ออยู่ด้านบน */
      display: none;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.205);
      animation: fadeInScale 0.5s ease forwards;
      /* เพิ่ม animation */
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.13);
      /* ทำให้พื้นหลังมืด */
      z-index: 999;
      display: none;

      /* ซ่อน overlay เมื่อ popup ยังไม่เปิด */
    }

    /* .spn-comment {
      font-size:xx-small !important;
      border: 2px solid white;
      padding: 0.25em !important;
      border-radius: 0.25em;
    } */
  </style>
</head>

<body>

  <%- include("./partials/studentNav.ejs")%>
  <!-- <div class="above-nav d-flex px-4 py-3">
    <div class="home-div above-nav-home d-flex mx-2 my-0 align-middle">
      <i class="bi bi-house mx-2"></i>
      <a href="/adminIndex" class="a-home">
        <p class="m-0">หน้าหลัก &nbsp;&nbsp;></p>
      </a>
    </div>

    <a href="#" class="status-a mx-2 my-0 align-middle">
      <p class="m-0">บทเรียน</p>
    </a>

  </div> -->
  <div class="main-content d-flex w-100 h-auto">
    <%- include("./partials/studentAside.ejs")%>
    <div class="row allCOntent" style="width: 80% !important;">
      <div class="col-12 aside-right px-4 py-4 bg-white" style="width: 100% !important;">
        <div class="manange-bar px-4 py-4 bg-white w-100">
          <div class="d-flex">
            <div class="d-flex w-75" style="align-items: center; grid-template-columns: 0.5fr 1.5fr;">
              <p class="fw-normal w-auto fs-6 lesson-bar" style="margin-left: 0.5em !important;">บทเรียน:
                <span class="fw-normal fs-6 text-primary"><%=lesson.LessonName%></span>
                วิชา:
                <span class="fw-normal fs-6 text-primary">
                  <%=lesson.subject.subjectId%>
                  <%=lesson.subject.subjectMongooseId.subjectName%>
                </span>
                ภาคการศึกษา:
                <span class="fw-normal fs-6 text-primary">
                  <%=lesson.subject.subjectMongooseId.semester%>
                </span>
                กลุ่ม:
                <span class="fw-normal fs-6 text-primary">
                  <%=lesson.subject.subjectMongooseId.section%>
                </span>
              </p>
            </div>
            <div class="d-flex w-25 justify-content-end" style="align-items: center; margin-top: 0.5 !important;">
            </div>
          </div>
        </div>
        <div class="hide-layout-2">
          <% if (paginatedLayouts.length > 0) { %>
          <% paginatedLayouts.forEach(Layout => {%>
          <% if (Layout.name === "Layout01") {%>
          <p class="layout01-mainDes mx-3 my-3"><%= Layout.Topic%></p>
          <p class="text-areas-indent mx-3 fs-5" style="width: 90%;"><%= Layout.MainDescription%></p>
          <!-- <input class="input-mainSubDes form-control mx-5 p-3 w-75 h-auto" name="LessonNumber" placeholder="กรอกข้อความส่วนอธิบายเนื้อหาเพิ่มเติม..."> -->
          <div class="lesson-content py-4 px-3 bg-white w-100 my-4 layoutDetected" data-id="<%= Layout._id %>" data-type="Layout1s">
            <div class="px-3">
              <p class="text-areas-indent my-2  pb-2 fs-5 w-100 px-4 border-bottom border-light-subtle"><%= Layout.SubDescription%></p>
            </div>
            <% const AboutImage = Layout.AboutImage %>
            <% AboutImage.forEach ( Img => { %>
            <input type="text" class="d-none" value="<%=Layout._id%>">
            <div class="layout01_gird my-3">
              <div class="AboutImage h-auto">
                <div class="w-100">
                  <p class="Topic1 bg-primary p-3 h-auto my-0 mx-auto text-center"><%= Img.title %></p>
                </div>
                <div class="w-100 text-center">
                  <% const file = Img.file %>
                  <% if (Img.contentType.startsWith("image/")) { %>
                  <img class="ImageFile w-75 h-75 my-4 shadow rounded" src="<%=Img.file%>" alt="รูปภาพประกอบการเรียน">
                  <% } else { %>
                  <video class="ImageFile w-75 h-75 object-fit-cover my-4" src="<%=Img.file%>" controls autoplay></video>
                  <% } %>
                </div>
              </div>
              <div class="h-100 content-2">
                <p class="fs-5 text-areas-indent main-content-long-text my-2 h-100 w-100 py-2 px-3" style="color: #212529 !important;"><%= Img.ImageDescription %></p>
              </div>
            </div>
            <% }); %>
          </div>
          <% } else if (Layout.name === "Layout02") {%>
          <div class="lesson-content py-2 bg-white my-4 layoutDetected" data-id="<%= Layout._id %>" data-type="Layout2s">
            <input class="d-none" type="text" name="_id" value="<%= Layout._id %>">
            <div class="IandMain d-grid">
              <p class="layout01-mainDes mx-4 px-3"><%=Layout.Topic %></p>
              <!-- <input class="input-mainDes form-control mx-4 p-3 h-auto" name="Topic" value="<%=Layout.Topic %>"> -->
            </div>
            <div class="setMargin py-2 px-4 bg-white w-100">
              <div class="Layout2Contents w-100">
                <div class="changeLayout02">
                  <div class="Layout2ContentsDiv p-1">
                    <div class="subLayout2Contents bg-white border-top border-primary border-2 rounded">
                      <div class="w-100 h-auto p-2">
                        <p class="fs-5"><%=Layout.TextArea1%></p>
                      </div>
                      <!-- <textarea name="TextArea1" class="textAreaLayout2 w-100 h-100 bg-white" disabled></textarea> -->
                    </div>
                    <div class="subLayout2Contents bg-white border-top border-primary border-2 rounded">
                      <div class="w-100 h-auto p-2">
                        <p class="fs-5"><%=Layout.TextArea2%></p>
                      </div>
                    </div>
                  </div>
                  <div class="subLayout2Contents2 bg-white border-top border-primary border-2 rounded">
                    <div class="w-100 h-auto p-2">
                      <p class="fs-5"><%=Layout.TextArea3%></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } else if (Layout.name === "Layout03") {%>
          <div class="lesson-content py-2 bg-white my-4 layoutDetected" data-id="<%= Layout._id %>" data-type="Layout3s">
            <input class="d-none" type="text" name="_id" value="<%= Layout._id %>">
            <div class="IandMain d-grid">
              <p class="layout01-mainDes mx-4 px-1 py-3 h-auto"><%=Layout.Description%></p>
            </div>
            <div class="setMargin py-2 px-4 bg-white w-100">
              <div class="Layout2Contents w-100 p-3 d-flex justify-content-center">
                <% if (Layout.contentType == "image/png") { %>
                <img class="ImageFile h-auto w-100 mx-auto my-2 shadow rounded" style="max-height: 750px;" src="<%=Layout.file%>" alt="รูปภาพประกอบการเรียน">
                <% } else if (Layout.contentType == "video/mp4") {%>
                <video class="w-100 h-auto object-fit-cover" src="<%=Layout.file%>" controls autoplay></video>
                <% } %>
              </div>
            </div>
          </div>
          <% } else if (Layout.name === "Layout04") {%>
          <div class="lesson-content py-2 bg-white my-4 layoutDetected" data-id="<%= Layout._id %>" data-type="Layout4s">
            <input class="d-none" type="text" name="_id" value="<%= Layout._id %>">
            <div class="IandMain" style="width: 100% !important;">
              <p class="mx-4 px-1 mb-3 mt-2 fs-2 fw-bold border-bottom border-light-subtle" style="margin-bottom:0em !important;"><%= Layout.Topic%></p>
            </div>
            <div class="mt-2">
              <p class="mx-4 w-100 h-auto bg-white px-1 fs-5"><%= Layout.Description%></p>
            </div>
            <div class="mt-1">
              <% const List = Layout.Lists %>
              <% List.forEach((list, index) => { %>
              <p class="mx-4 px-1 py-1 w-75 lh-lg"><%= list.list %></p>
              <% }); %>
            </div>

          </div>
          <% } else if (Layout.name === "Layout05") { %>
          <div class="lesson-content py-2 bg-white my-4 layoutDetected" data-id="<%= Layout._id %>" data-type="Layout5s">
            <input class="d-none" type="text" name="_id" value="<%= Layout._id %>">
            <div>
              <p class="mx-4 p-3 fs-2"><%= Layout.name %></p>
              <div>
                <!-- <embed src="/pdfs/example.pdf" type="application/pdf" width="100%" height="600px" /> -->
                <a href="/adminIndex/showFile?fileId=<%=Layout._id%>" target="_blank">โชว์ pdf</a>
              </div>
              <!-- <div>
                  <a href="/adminIndex/pdfDowload?id=<%= Layout._id %>">ดาวน์โหลด PDF</a>
                  <a href="/adminIndex/showPdf?pdfId=<%= Layout._id %>">แสดงผล PDF</a>
                </div> -->
            </div>
          </div>
          <% } else if (Layout.name === "pdfFiles") { %>
          <div class="lesson-content py-2 bg-white my-4 layoutDetected" data-id="<%= Layout._id %>" data-type="pdfFile">
            <input class="d-none" type="text" name="_id" value="<%= Layout._id %>">
            <iframe class="pdf-iframe" src="<%=Layout.file%>" frameborder="0"></iframe>
          </div>
          <% } else if (Layout.name === "TextEditor") {%>
          <!-- <div class="layout" style="display: none;"></div> -->

          <div class="rounded shadow-sm bg-white my-4 py-2 layoutDetected" data-id="<%= Layout._id %>" data-type="TextEditor">
            <input class="d-none" type="text" name="_id" value="<%= Layout._id %>">
            <div class="px-3">
              <%-Layout.body%>
            </div>
          </div>
          <% } %>
          <% }); %>
          <% } else {%>
          <div class="lesson-content bg-white w-100 py-3 my-4">
            <p class="px-3">ยังไม่มีเนื้อหาภายในบทเรียนนี้
            </p>
          </div>
          <% }; %>
        </div>
        <div class="row mt-4">
          <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link px-2" href="/studentIndex/eachLessonStudent?lessonId=<%= lesson._id %>&page=<%= currentPage - 1 %>">ก่อนหน้า</a>
                </li>
                <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link px-2" href="#">Previous</a>
                </li>
                <% } %>

                <% for (let i = 1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                <li class="page-item active">
                  <a class="page-link px-2" href="#"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a class="page-link px-2" href="/studentIndex/eachLessonStudent?lessonId=<%= lesson._id %>&page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% } %>

                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link px-2" href="/studentIndex/eachLessonStudent?lessonId=<%= lesson._id %>&page=<%= currentPage + 1 %>">ถัดไป</a>
                </li>
                <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link px-2" href="#">Next</a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <% if (studentAnswer != null) {%>
        <div class="lesson-content bg-white w-100 p-4 my-4 addQuestion">
          <div class="row d-flex align-items-center">
            <div class="col">
              <p class="fw-bold fs-5 my-1 mx-2" style="border-left: 0.25em solid #387bef; padding-left: 0.75em !important;">คำถามท้ายบท
                <i class="bi bi-question-circle mx-2 text-primary"></i>
              </p>
            </div>
            <div class="col d-flex justify-content-end">
              <a href="#" class="text-primary" id="cancelEditQuestionLink">ยกเลิก</a>
            </div>
          </div>

          <form action="/studentEditAnswerEndChapter" method="post">
            <input type="text" class="d-none" name="lessonId" value="<%=lesson._id%>">
            <input type="text" class="d-none" name="studentAnswerId" value="<%=studentAnswer._id%>">
            <div class="m-2">
              <ol class="list-group list-group-numbered">
                <% studentAnswer.Questions.forEach((question, index) => {%>
                <li class="list-group-item border border-0"><%=lessonQuestions.Questions[index].questionText%></li>
                <textarea class="editAnswer form-control my-1 p-2 question<%=question.questionNo%>" name="question<%=question.questionNo%>" rows="1"><%=question.questionText%></textarea>
                <p class="pb-2"><span class="text-primary">คำตอบ: </span><%=question.questionText%></p>
                <% }) %>
              </ol>
            </div>
            <div class="col d-flex justify-content-end">
              <a href="#" class="btn answer-button btn-warning p-2" id="editQuestionLink">แก้ไข</a>
              <button type="submit" class="btn answer-button btn-success p-2" id="sendEditQuestionLink">ส่งคำตอบ</button>
            </div>
          </form>
        </div>

        <% } else if (studentAnswer == null) {%>
        <% if (lessonQuestions != null) { %>
        <div class="lesson-content bg-white w-100 p-4 my-4 addQuestion">
          <div class="row d-flex align-items-center">
            <div class="col">
              <p class="fw-bold fs-5 my-1 mx-2" style="border-left: 0.25em solid #387bef; padding-left: 0.75em !important;">คำถามท้ายบท
                <i class="bi bi-question-circle mx-2 text-primary"></i>
              </p>
            </div>
            <div class="col d-flex justify-content-end">
              <a href="#" class="text-primary" id="cancelQuestionLink">ยกเลิก</a>
            </div>
          </div>

          <form action="/studentAnswerEndChapterQuestions" method="post">
            <input type="text" class="d-none" name="lessonId" value="<%=lesson._id%>">
            <input type="text" class="d-none" name="lessonQuestionId" value="<%=lessonQuestions._id%>">
            <div class="m-2">
              <ol class="list-group list-group-numbered">
                <% lessonQuestions.Questions.forEach(question => {%>
                <li class="list-group-item border border-0"><%=question.questionText%></li>
                <textarea class="studentAnswer form-control my-1 p-2 question<%=question.questionNo%>" name="question<%=question.questionNo%>" rows="1"></textarea>
                <% }) %>
              </ol>
            </div>
            <div class="col d-flex justify-content-end">
              <a href="#" class="btn answer-button btn-primary p-2" id="answerQuestionLink">ตอบ</a>
              <button type="submit" class="btn answer-button btn-success p-2" id="sendQuestionLink">ส่งคำตอบ</button>
            </div>
          </form>
        </div>
        <% } %>
        <% } %>
        <div class="lesson-content bg-white w-100 p-4 my-4">
          <div class="d-flex">
            <p class="fw-bold fs-5 my-1 mx-2" style="border-left: 0.25em solid #387bef; padding-left: 0.75em !important;">แสดงความคิดเห็น
              <i class="bi bi-chat-dots mx-2 text-primary"></i>
            </p>
          </div>
          <div class="m-2">
            <form action="/studentIndex/comment" method="post" enctype="multipart/form-data">
              <input type="text" class="d-none" name="lessonId" value="<%=lesson._id%>">
              <textarea class="form-control p-3 w-100 mb-3" name="comment" id="comment" placeholder="แสดงความคิดเห็นของคุณ"></textarea>
              <div class="row">
                <div class="col-6">
                  <div class="comment-image">
                    <div class="d-flex align-items-center">
                      <input type="file" class="form-control d-none" name="files" id="fileInput" accept="image/*,video/*" multiple>
                      <i class="bi bi-camera-fill p-2 btn btn-primary" id="iconClick"></i>
                      <p id="fileName" class="mx-2"></p>
                    </div>
                  </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <button class="btn btn-primary p-2" type="submit">แสดงความคิดเห็น</button>
                </div>
              </div>
            </form>
            <!-- <form action="">
              <input type="file" name="fileName" id="fileName">
              <input type="submit">
            </form> -->
          </div>
        </div>
        <!-- <div class="percentage">
        </div> -->

        <% if (lessonComment.comments.length > 0) { %>
        <div class="lesson-content bg-white w-100 p-4 my-4">
          <div class="d-flex">
            <p class="fw-bold fs-5 my-1 mx-2" style="border-left: 0.25em solid #387bef; padding-left: 0.75em !important;">ความคิดเห็น</p>
            <% if (lessonComment.comments.length > 0) { %>
            <p class="fw-normal fs-5 my-1 mx-2 px-3" style="border-left: 1px solid #ced4daa0;"><%=lessonComment.comments.length%></p>
            <% } else if (lessonComment.comments.length < 1) { %>
            <p class="fw-normal fs-5 my-1 mx-2 px-3" style="border-left: 1px solid #ced4daa0;">0</p>
            <% } %>
          </div>
          <div>
            <table class="w-100 comment-table mx-2">
              <tr>
                <th colspan="3">ความคิดเห็นล่าสุด</th>
              </tr>
              <% lessonComment.comments.forEach(comment => { %>
              <% const userDataId = userData._id %>
              <% const userCommentId = comment.user._id%>
              <tr>
                <td style="border-top: 1px solid #ced4daa0; padding-bottom:1em !important;">
                  <div class="comment">
                    <div class="content d-flex">
                      <img src="<%=comment.user.img%>" alt="รูปโปรไฟล์ผู้ใช้">
                      <div>
                        <p class="fw-bold" class="username-comment"><%=comment.user.name%>
                          <span class="fw-normal" style="font-size: small;">
                            | <%= comment.createdAtFormatted %>
                          </span>
                          <span class="fw-normal" style="font-size: small;">
                            |
                            <% if (String(userDataId) == String(userCommentId)) { %>
                            <a href="/studentIndex/editCommentStudent?commentId=<%=comment._id%>&lessonId=<%=lessonComment._id%>" class="mx-1 fw-normal text-primary optionComment ">แก้ไข</a>
                            <a href="/deleteComment?commentId=<%=comment._id%>&lessonId=<%=lessonComment._id%>" class="mx-1 fw-normal text-primary optionComment">ลบ</a>
                            <% } %>
                            <a class="text-primary mx-1" data-bs-toggle="collapse" href="#collapseExample_<%= comment._id %>" role="button" aria-expanded="false" aria-controls="collapseExample_<%= comment._id %>">
                              ตอบกลับ
                            </a>
                          </span>
                        </p>
                        <p class="comment-color"><%=comment.comment%></p>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="border-top: 1px solid #ced4daa0;">
                  <p class="comment-color"><%=comment.timeSince%></p>
                </td>
                <!-- <td style="border-top: 1px solid #ced4daa0;">
                  <div style="position:relative;">
                    <a href="javascript:void(0);" class="icon" onclick="commentOption()">
                      <i class="bi text-primary bi-three-dots-vertical"></i>
                    </a>
                    <div class="commentOption">
                      <ul class="">
                        <li> <a href="#reply">ตอบกลับ</a></li>
                        <li> <a href="#edit">แก้ไข</a></li>
                        <li><a href="#delete">ลบ</a></li>
                      </ul>
                    </div>
                  </div>
                </td> -->
              </tr>
              <% if (comment.files.length > 0) { %>
              <tr>
                <td colspan="3" class="" style="padding:0 !important;">
                  <p class="mb-2 fw-bold">รูปภาพหรือวิดีโอที่แนบ: </p>
                  <div class="d-flex" id="gallery">
                    <% comment.files.forEach((file, index) => { %>
                    <% if (file.contentType.startsWith("image")) { %>
                    <a href="<%= file.file %>" class="a-fancyBox">
                      <img class="comment-files" src="<%= file.file %>" alt="ไฟล์รูปภาพ">
                    </a>
                    <% } else if (file.contentType.startsWith("video/")) {%>
                    <a href="<%= file.file %>" class="a-fancyBox">
                      <video class="comment-files object-fit-cover" controls autoplay>
                        <source src="<%= file.file %>" type="<%= file.contentType%>">
                        Your browser does not support the video tag.
                      </video>
                    </a>
                    <% } %>
                    <% }); %>
                  </div>
                </td>

              </tr>
              <tr>
                <td style="padding: 0 !important;;" colspan="2">
                  <form action="/replyComment" method="post">
                    <input type="hidden" name="commentId" value="<%=comment._id%>">
                    <input type="hidden" name="lessonId" value="<%=lesson._id%>">
                    <div class="collapse" id="collapseExample_<%= comment._id %>">
                      <div class="card card-body">
                        <div class="row">
                          <div class="col-11">
                            <textarea name="replyMainComment" class="form-control p-3 w-100"></textarea>
                          </div>
                          <div class="col-1">
                            <button class="btn btn-primary w-100 h-100">
                              <i class="bi bi-send-fill"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>

              <% if ((comment.replies) && (comment.replies.length > 0 )){ %>
              <tr>
                <td colspan="2" style="padding-top: 0 !important">
                  <div class="mt-2">
                    <small>คอมเมนต์ที่ตอบกลับ
                      <span class="text-primary fw-bold">
                        <%=comment.user.name%>
                      </span>
                    </small>
                  </div>
                </td>
              </tr>
              <% comment.replies.forEach(reply => { %>
              <tr>
                <td style="border-top: 1px solid #ced4daa0; padding-bottom:1em !important;">

                  <div class="comment">
                    <div class="content d-flex align-items-center">
                      <i class="bi bi-dash-lg"></i>
                      <img class="ms-2" src="<%=reply.user.img%>" alt="รูปโปรไฟล์ผู้ใช้">
                      <div>
                        <p class="fw-bold" class="username-comment"><%=reply.user.name%>
                          <span class="fw-normal" style="font-size: small;">
                            | <%= reply.createdAtFormatted %>
                          </span>
                          <span class="fw-normal" style="font-size: small;">
                            |
                            <% if (String(userDataId) == String(reply.user._id)) { %>
                            <a href="#" class="openPopupLink mx-1 fw-normal text-primary optionComment" data-comment-id="<%= comment._id %>" data-user-id="<%= reply.user._id %>" data-content-text="<%- reply.content || 'ทดสอบ' %>" data-date="<%=reply.createdAt%>">
                              แก้ไข
                            </a>
                            <a href="/deleteReplyComment?userId=<%=reply.user._id%>&_id=<%=comment._id%>&date=<%=reply.createdAt%>&lessonId=<%=lesson._id%>" class="mx-1 fw-normal text-primary optionComment">ลบ</a>
                            <% }  %>

                          </span>
                        </p>
                        <p class="comment-color"><%=reply.content%></p>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="border-top: 1px solid #ced4daa0;">
                  <p class="comment-color"><%=reply.timeSince%></p>
                </td>
              </tr>
              <% }); %>

              <% } %>

              <% } else { %>
              <tr>
                <td style="padding: 0 !important;;" colspan="2">
                  <form action="/replyComment" method="post">
                    <input type="hidden" name="commentId" value="<%=comment._id%>">
                    <input type="hidden" name="lessonId" value="<%=lesson._id%>">

                    <div class="collapse" id="collapseExample_<%= comment._id %>">
                      <div class="card card-body">
                        <div class="row">
                          <div class="col-11">
                            <textarea name="replyMainComment" class="form-control p-3 w-100"></textarea>
                          </div>
                          <div class="col-1">
                            <button class="btn btn-primary w-100 h-100">
                              <i class="bi bi-send-fill"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <% if ((comment.replies) && (comment.replies.length > 0 )){ %>
              <tr>
                <td colspan="2" style="padding-top: 0 !important">
                  <div class="">
                    <small>คอมเมนต์ที่ตอบกลับ
                      <span class="text-primary fw-bold">
                        <%=comment.user.name%>
                      </span>
                    </small>
                  </div>
                </td>
              </tr>
              <% comment.replies.forEach(reply => { %>
              <tr>
                <td style="border-top: 1px solid #ced4daa0; padding-bottom:1em !important;">

                  <div class="comment">
                    <div class="content d-flex align-items-center">
                      <i class="bi bi-dash-lg"></i>
                      <img class="ms-2" src="<%=reply.user.img%>" alt="รูปโปรไฟล์ผู้ใช้">
                      <div>
                        <p class="fw-bold" class="username-comment"><%=reply.user.name%>
                          <span class="fw-normal" style="font-size: small;">
                            | <%= reply.createdAtFormatted %>
                          </span>
                          <span class="fw-normal" style="font-size: small;">
                            |
                            <% if (String(userDataId) == String(reply.user._id)) { %>
                            <a href="#" class="openPopupLink mx-1 fw-normal text-primary optionComment" data-comment-id="<%= comment._id %>" data-user-id="<%= reply.user._id %>" data-content-text="<%- reply.content || 'ทดสอบ' %>" data-date="<%=reply.createdAt%>">
                              แก้ไข
                            </a>
                            <a href="/deleteReplyComment?userId=<%=reply.user._id%>&_id=<%=comment._id%>&date=<%=reply.createdAt%>&lessonId=<%=lesson._id%>" class="mx-1 fw-normal text-primary optionComment">ลบ</a>
                            <% }  %>

                          </span>
                        </p>
                        <p class="comment-color content"><%=reply.content%></p>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="border-top: 1px solid #ced4daa0;">
                  <p class="comment-color"><%=reply.timeSince%></p>
                </td>
              </tr>
              <% }); %>

              <% } %>
              <% } %>


              <% }); %>

            </table>
          </div>

        </div>
        <% } %>
      </div>
    </div>
  </div>
  </div>

  <div class="overlay" id="overlay"></div>
  <div class="editCommentForm p-3" id="popupForm" style="width: 600px; max-width:600px">
    <p class="fw-bold fs-4 mb-3 pb-2 border-bottom">แก้ไขการตอบกลับ</p>
    <form id="editCommentForm" action="/editReplyComment" method="post">
      <input type="hidden" id="commentIdInput" name="commentId">
      <input type="hidden" id="userIdInput" name="userId">
      <input type="hidden" name="lessonId" value="<%=lesson._id%>">
      <input type="hidden" id="oldContent" name="oldContent" value="">
      <input type="hidden" id="date" name="date" value="">
      <textarea class="form-control my-1 p-2" row="1" id="commentContent" name="commentContent"></textarea><br>
      <div class="d-flex justi">
        <button class="btn btn-primary p-2 me-2" type="submit">บันทึกการแก้ไข</button>
        <a href="#" class="closePopupLink btn btn-danger p-2">ปิดหน้าต่าง</a>

      </div>
    </form>

    <!-- <a href="#" class="closePopupLink">ปิด Popup</a> -->
  </div>

  <%- include("./partials/footer.ejs")%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {

      document.querySelectorAll('.openPopupLink').forEach(function(link) {
        link.addEventListener('click', function(event) {
          event.preventDefault();

          // ดึงค่า commentId และ userId จากลิงก์ที่ถูกคลิก
          const commentId = this.getAttribute('data-comment-id');
          const userId = this.getAttribute('data-user-id');
          const content = this.getAttribute('data-content-text');
          const date = this.getAttribute('data-date');

          // const date = this.getAttribute('data-date');

          // นำค่าไปใส่ใน input field ของฟอร์ม
          document.getElementById('commentIdInput').value = commentId;
          document.getElementById('userIdInput').value = userId;
          document.getElementById('commentContent').value = content;
          document.getElementById('oldContent').value = content;
          document.getElementById('date').value = date;

          // const oldCon = document.getElementById('oldContent');
          // console.log(content);
          // console.log(oldCon.value);

          // แสดง popup และ overlay
          document.getElementById('popupForm').style.display = 'block';
          document.getElementById('overlay').style.display = 'block';
        });
      });

      document.querySelector('.closePopupLink').addEventListener('click', function(event) {
        event.preventDefault();

        // ซ่อน popup และ overlay
        document.getElementById('popupForm').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
      });

      // ถ้าคลิกที่ overlay ให้ปิด popup ด้วย
      document.getElementById('overlay').addEventListener('click', function() {
        document.getElementById('popupForm').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
      });

      const studentAnswers = document.querySelectorAll('.studentAnswer');

      const editAnswers = document.querySelectorAll('.editAnswer');
      const cancelQuestionLink = document.getElementById('cancelQuestionLink');
      const cancelEditQuestionLink = document.getElementById('cancelEditQuestionLink');

      const sendQuestionLink = document.getElementById('sendQuestionLink');

      const sendEditQuestionLink = document.getElementById('sendEditQuestionLink');

      const editQuestionLink = document.getElementById('editQuestionLink');

      const answerQuestionLink = document.getElementById('answerQuestionLink');

      if (answerQuestionLink) {
        // เมื่อคลิกที่ answerQuestionLink
        answerQuestionLink.addEventListener('click', function(event) {
          event.preventDefault(); // ป้องกันการทำงานปกติของลิงก์

          // แสดงผล studentAnswer, #cancelQuestionLink และ #sendQuestionLink
          studentAnswers.forEach(answer => answer.style.display = 'block');
          cancelQuestionLink.style.display = 'block';
          sendQuestionLink.style.display = 'block';

          // ซ่อนตัวเอง (answerQuestionLink)
          answerQuestionLink.style.display = 'none';
        });

        // เมื่อคลิกที่ cancelQuestionLink
        cancelQuestionLink.addEventListener('click', function(event) {
          event.preventDefault(); // ป้องกันการทำงานปกติของลิงก์

          // ซ่อน studentAnswer, #cancelQuestionLink และ #sendQuestionLink
          studentAnswers.forEach(answer => answer.style.display = 'none');
          cancelQuestionLink.style.display = 'none';
          sendQuestionLink.style.display = 'none';

          // แสดงผล answerQuestionLink อีกครั้ง
          answerQuestionLink.style.display = 'block';
        });
      }

      if (editQuestionLink) {
        editQuestionLink.addEventListener('click', function(event) {
          event.preventDefault(); // ป้องกันการทำงานปกติของลิงก์

          // แสดงผล studentAnswer, #cancelQuestionLink และ #sendQuestionLink
          editAnswers.forEach(answer => answer.style.display = 'block');
          sendEditQuestionLink.style.display = 'block';
          cancelEditQuestionLink.style.display = 'block';
          // ซ่อนตัวเอง (answerQuestionLink)
          editQuestionLink.style.display = 'none';
        });

        cancelEditQuestionLink.addEventListener('click', function(event) {
          event.preventDefault(); // ป้องกันการทำงานปกติของลิงก์

          // ซ่อน studentAnswer, #cancelQuestionLink และ #sendQuestionLink
          editAnswers.forEach(answer => answer.style.display = 'none');
          sendEditQuestionLink.style.display = 'none';
          cancelEditQuestionLink.style.display = 'none';

          // แสดงผล answerQuestionLink อีกครั้ง
          editQuestionLink.style.display = 'block';
        });
      }


      let startTime; // เก็บเวลาที่เริ่มต้นเข้าใช้งานหน้าเว็บ
      let timeSpent = 0; // เก็บเวลาที่ใช้ไป

      // เมื่อเริ่มโหลดหน้าเว็บ (หน้า lesson)
      window.addEventListener('load', () => {
        startTime = performance.now(); // เก็บเวลาเริ่มต้น
        console.log('User started viewing the page at:', startTime);
      });

      // ฟังก์ชันคำนวณเวลาที่ใช้เมื่อผู้ใช้ออกจากหน้าเว็บ
      function calculateTimeSpent() {
        const endTime = performance.now(); // เก็บเวลาที่ผู้ใช้กำลังจะออกจากหน้าเว็บ
        const timeDiff = (endTime - startTime) / 1000; // คำนวณเป็นวินาที
        timeSpent += timeDiff; // เพิ่มเวลาที่ใช้ไปกับเวลาที่เคยบันทึกไว้
        console.log(`Time spent on this page: ${timeDiff.toFixed(2)} seconds (Total: ${timeSpent.toFixed(2)} seconds)`);
      }

      let completedLayouts = new Set(); // ใช้ Set เพื่อหลีกเลี่ยงการส่งซ้ำ

      // ประกาศ throttledUpdateCompletedLayout ก่อนการใช้งาน
      const throttledUpdateCompletedLayout = _.throttle(function(layoutId, layoutType, lessonId, subjectId) {
        // console.log(completedLayouts);
        // if (completedLayouts.has(layoutId)) {
        //   return; // ถ้าส่งไปแล้ว ให้หยุดการทำงาน
        // }

        completedLayouts.add(layoutId); // ถ้ายังไม่เคยส่ง ให้เพิ่มเข้าไปใน Set


        fetch('/updateLessonProgress', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              layoutId,
              layoutType,
              lessonId,
              subjectId
            })
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });

      }, 2000); // ปรับเวลาให้ throttled ที่ 1 วินาที

      // ฟังก์ชันเช็คว่า layout อยู่ใน viewport หรือไม่
      function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        console.log('Element rect:', rect);
        console.log('Viewport:', {
          top: window.scrollY,
          left: window.scrollX,
          bottom: window.innerHeight,
          right: window.innerWidth
        });
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      // ฟังค์ชัน scroll event
      window.addEventListener('scroll', () => {
        console.log('Scroll event triggered'); // ตรวจสอบการเรียก scroll event
        const layouts = document.querySelectorAll('.layoutDetected');

        layouts.forEach(layout => {
          if (isInViewport(layout)) {
            const layoutId = layout.getAttribute('data-id'); // ดึงค่า _id
            const layoutType = layout.getAttribute('data-type'); // ดึงค่า layout type
            const lessonId = '<%= lesson._id %>'; // เพิ่ม lessonId ที่เกี่ยวข้อง
            const subjectId = '<%= lesson.subject.subjectMongooseId._id %>'
            // เรียกใช้ฟังก์ชัน throttledUpdateCompletedLayout แทนการเรียกตรงๆ
            throttledUpdateCompletedLayout(layoutId, layoutType, lessonId, subjectId);
          }
        });
      });
      window.addEventListener('beforeunload', () => {
        calculateTimeSpent();

        fetch('/calculateTimeSpent', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              timeSpent: Math.floor(timeSpent), // ส่งเวลาที่ใช้ไปในหน่วยวินาที
              lessonId: '<%= lesson._id %>',
              subjectId: '<%= lesson.subject.subjectMongooseId._id%>' // ส่ง lessonId ด้วย
            })
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      });

      // document.querySelectorAll('.ReplyOptionComment').forEach(link => {
      //   link.addEventListener('click', function(e) {
      //     e.preventDefault();

      //     // Show the reply-comment row
      //     document.getElementById('reply-comment').style.display = 'flex';

      //   });
      // });
    });

    Fancybox.bind("#gallery a", {
      groupAll: true,
    });

    document.getElementById('iconClick').addEventListener('click', function() {
      document.getElementById('fileInput').click();
    });

    document.getElementById('fileInput').addEventListener('change', function() {
      const file = this.files;
      if (file && file.length == 1) {
        document.getElementById('fileName').textContent = `ไฟล์ที่อัปโหลด: ${file[0].name}`;
      } else if (file && file.length > 1) {
        document.getElementById('fileName').textContent = `อัปโหลดไฟล์จำนวน: ${file.length} ไฟล์`;
      } else {
        document.getElementById('fileName').textContent = '';
      }
    });
  </script>
</body>

</html>