<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Subjects</title>
  <!-- <link rel="stylesheet" href="/css/event.css"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
  <%- include("./partials/header.ejs")%>
  <link rel="stylesheet" href="/css/fixedSwal.css">
  <style>
    .descp {
      text-indent: 2em;
      margin: 0 2em;
    }

    .rectangle-141 {
      background-color: white;
      border-radius: 0.75em;
      box-shadow: 0em 0.75em 1.5em -0.25em #919eab1f, 0em 0em 0.125em #919eab33;
      height: 14.6875em;
      left: 4.6875em;
      top: 37.3125em;
      width: 39.125em;
      width: 75%;
      margin: 2em 2em;
    }

    .home-div,
    .a-home {
      color: #999999 !important;
    }

    .above-nav {
      background-color: #dde6ed33;
    }

    .status-a {
      color: #404258 !important;
    }

    .list-lesson-p {
      color: #8A2BE2;

    }

    .list-lesson-p-span {
      color: #4B0082;
    }

    .each-lesson {
      border-top: 0.1em solid #8A2BE2;

    }

    .aside-right {
      background-color: #dde6ed1a;
      height: 100%;
    }

    .manange-bar {
      border-radius: 1em;
      justify-content: space-between !important;
    }

    .add-button {
      border-radius: 0.5em !important;
      width: 20%;

    }

    .main-content {
      height: 100%;
    }

    .lesson-content {
      height: 100%;
      border-radius: 1em !important;

      justify-content: center !important;
      border-top: 0.5em solid #8A2BE2;
    }

    .lesson-nothing {
      margin: 25% 0 !important;
      padding: 0 !important;
    }

    .add-lesson-btn {
      float: none !important;
      width: auto;
    }

    input[type=file] {
      border: 1px solid #ced4da;
      border-radius: 0.5em;

    }

    input[type=file]::file-selector-button {
      margin-right: 1em;
      border-top: none;
      border-left: none;
      border-bottom: none;
      border-right: 1px solid #ced4da;
      ;
      background: white;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      color: #084cdf;
      cursor: pointer;
      transition: background .2s ease-in-out;

    }

    input[type=file]::file-selector-button:hover {
      background: #0d45a5;
      color: white;
    }

    .img-input::placeholder {
      color: #ced4da !important;
    }

    .custom-popup {
      padding: 1em 0 !important;
    }

    .custom-icon {
      margin: 2em auto !important;
    }

    .custom-button {
      /* กำหนดลักษณะของ button */
      padding: 0.5em 1em !important;
      margin-top: 1em !important;
    }

    .lesson-bar {
      border-left: 0.25em solid #007bff !important;
      padding-left: 0.5em !important;
      margin-right: 0.5em !important;

    }

    .set-border-header {
      border-left: 0.25em solid #387bef;
      padding-left: 0.50em !important;
    }
  </style>
</head>

<body>
  <%- include("./partials/nav.ejs")%>
  <!-- <div class="above-nav d-flex px-4 py-3">
    <div class="home-div above-nav-home d-flex mx-2 my-0 align-middle">
      <i class="bi bi-house mx-2"></i>
      <a href="/adminIndex" class="a-home">
        <p class="m-0">หน้าหลัก &nbsp;&nbsp;></p>
      </a>
    </div>

    <a href="#" class="status-a mx-2 my-0 align-middle">
      <p class="m-0">บทเรียน</p>
    </a>

  </div> -->
  <div class="main-content d-flex h-auto">
    <% const pageName = "addLesson" %>
    <%- include("./partials/lessonsList.ejs", { pageName: pageName })%>
    <div class="aside-right w-75 h-auto p-4 bg-white">
      <div class="manange-bar p-3 bg-white d-flex w-100">
        <p class="fw-bold fs-3 lesson-bar">แก้ไขรายวิชา</p>
        <a href="/adminIndex/manageSubject?subjectDbId=<%=findSubject._id%>" class="add-button btn btn-primary m-0 p-2">
          ยกเลิก<i class="bi bi-x-circle-fill mx-2"></i>
        </a>
      </div>
      <div class="lesson-content p-4 bg-white w-100 my-4" style="height: auto;">
        <div class="pb-3 mb-3" style="border-bottom: 1px solid #EAEFF4;">
          <p class="fw-bold fs-3 set-border-header mb-3">แบบฟอร์มแก้ไขรายวิชา</p>
          <form action="/adminIndex/updateSubject" method="post">
            <div id="scriptData" class="form-text my-1 w-75"><span class="text-primary">* </span>รหัสและภาคการศึกษาของรายวิชาจะส่งผลต่อ<span class="text-danger"> การเข้าถึงบทเรียน </span>ของนักศึกษา หากชื่อรายวิชาและภาคการศึกของการลงทะเบียนเรียนจากนักศึกษานั้นไม่ตรงกับข้อมูลรายวิชาที่สร้าง นักศึกษาจะไม่สามารถเข้าถึงบทเรียนของรายวิชานั้นได้
            </div>
            <input type="hidden" name="subjectDbId" value="<%=findSubject._id%>">
            <div class="mb-3">
              <label for="subject" class="form-label">ชื่อวิชา:</label>
              <input type="text" list="script-3" class="form-control p-3 w-50" value="<%= findSubject.subjectName %>" name="subjectName" id="subject" required>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-3">
                  <label for="subjectId" class="form-label">รหัสวิชา:</label>
                  <input type="text" list="script" class="form-control p-3 w-75" value="<%= findSubject.subjectId %>" name="subjectId" id="subjectId" required>
                </div>
                <div class="col-3">
                  <label for="semester" class="form-label">ภาคศึกษา:</label>
                  <input type="text" list="script-2" class="form-control p-3 w-50" value="<%= findSubject.semester %>" name="semester" id="semester" maxlength="6" required>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-3">
                  <label for="subjectId" class="form-label">หน่วยกิต:</label>
                  <input type="number" class="form-control p-3 w-50" value="<%=findSubject.unit %>" name="unit" min="1" id="unit" required>
                </div>
                <div class="col-3">
                  <label for="semester" class="form-label">กลุ่มเรียนที่:</label>
                  <input type="number" class="form-control p-3 w-50" value="<%= findSubject.section %>" min="1" name="section" id="section" required>
                </div>
              </div>
            </div>


            <!-- <div class="mb-3">
            <label for="lessonName" class="form-label">ชื่อบทเรียน:</label>
            <input type="text" class="form-control p-3 w-50" name="lessonName" placeholder="กรอกชื่อบทเรียน" required>
          </div>
          <div class="mb-3">
            <label for="LessonImage" class="form-label">รูปภาพหน้าปก:</label><br>
            <input type="file" class="w-50 img-input" style="background-color: white !important;" name="file" accept="image/*">
            <div id="emailHelp" class="form-text my-1"><span class="text-primary">* </span>ไม่ต้องทำการอัปโหลดรูปภาพ หากไม่มีรูปภาพที่ต้องการใช้</div>
          </div> -->
            <div class="d-flex justify-content-end">
              <button type="submit" class="add-lesson-btn btn btn-primary py-2 px-3 shadow">
                <span>บันทึกการแก้ไข</span><i class="bi bi-plus-circle-fill mx-2"></i>
                </i>
              </button>
            </div>
          </form>

        </div>
        
      </div>

      <% if (error != null) { %>
      <div id="error-message" style="display: none;"><%=error%></div>
      <% } %>


    </div>


  </div>
  <%- include("./partials/footer.ejs")%>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  
      var errorMessage = document.getElementById('error-message').textContent || "error";
      if (errorMessage) {
        Swal.fire({
          icon: 'warning',
          title: 'ไม่สามารถเพิ่มรายวิชานี้ได้',
          text: errorMessage,
          customClass: {
            container: 'custom-container',
            popup: 'custom-popup',
            title: 'custom-title',
            icon: 'custom-icon',
            content: 'custom-content',
            confirmButton: 'custom-button'
          },
          timer: 3000
        });

      }

      
      
    document.getElementById('semester').addEventListener('input', function(e) {
      let value = e.target.value;

      // Regular Expression to match the format "d/d{0,4}" where d is a digit
      const regex = /^\d\/?\d{0,4}$/;

      if (!regex.test(value)) {
        // If the value doesn't match the regex, remove the last character
        e.target.value = value.slice(0, -1);
        return;
      }


      if (value.length === 2 && value[1] !== '/') {
        // Insert '/' at the second position
        e.target.value = value[0] + '/' + value[1];
      } else if (value.length > 2 && value[1] !== '/') {
        // Prevent replacing the character at the second position if it's not '/'
        e.target.value = value[0] + '/' + value.slice(2);
      }
    });
    });

  </script>



</body>

</html>